.footer-container {
    width: 90vw;
    height: 200px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.footer-1 {
    width: 30%;
    font-size: 2em;
    color: white;
}
.footer-2 {
    width: 30%;
    font-size: 2em;
    color: white;
}
.footer-3 {
    width: 30%;
    font-size: 2em;
    color: white;
}