.homepage-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;


    .prize-option-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        @media (max-width: 1250px) { 
            flex-direction: column;
          }
    
    }
}
